{{!-- this is the student info update container --}}
<div class="container child-info-update border border-info rounded">
  <h2>{{boardCard.title}}</h2>
  <h4>Info: {{boardCard.message}}</h4>
  <h4>Where: {{boardCard.where}}</h4>
  <h4>When: {{boardCard.when}}</h4>

  {{!-- TO DO: CRUD functionality for Teacher --}}
  <button type="submit" id="updateSubmit">Create New Annoucement</button>
</div>
<button type="submit" id="updateSubmit">Update annoucement</button>
</div>
<button type="submit" id="updateSubmit">Delete</button>
</div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- javascript file-->
<script src="/js/updatecard.js"></script>