<section class="border mt-2 w-25 border-info rounded">
    <header>{{title}}</header>
    <div class="card-body">
        <h4>{{message}}</h4>
        <h4>{{where}}</h4>
        <h4>{{when}}</h4>
    </div>
</section>