<div class="border mt-3 w-50 border-info rounded ml-auto mr-auto mh-25 overflow-auto">
    <header class="h2 text-info">{{title}}</header>
    <div class="card-body">
        <h4 class="text-left text-primary">{{message}}</h4>
        <h4 class="text-left">Location: {{where}}</h4>
        <h4 class="text-left h6">Posted on: {{when}}</h4>
    </div>
</div>