<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      <span role="img" aria-label="Face with rolling eyes">&#128580;</span>
    </h1>
    <a href="/" id ="goBack" type="submit">← Back To Home</a>
  </div>
</div>