<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">404 Not Found
      <span role="img" aria-label="Face with rolling eyes">&#128580;</span>
    </h1>
    <a href="/" id ="goBack" type="submit">← Back To Home</a>
  </div>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.c