<section class="container">
  <section class="flex-row justify-center">
    <!-- For each announcement that belongs to the board, the announcement-details partial is used to render each announcement's data -->
    {{#each board.announcements as |announcement|}}
    {{> announcement-details}}
    {{/each}}
  </section>
</section>
