{{!-- Logo for Teacher's Pet --}}
<header>
    <img class="mb-4 align-items-center" src="/public/images/logo.png" alt="" width="250" height="250">
</header>

{{!-- this is the Parent's log-in container --}}
<main class="container border form-signin mt-2 w-25 border-info rounded">
  <form>
    <h1 class="h3 mb-3 mt-3 fw-normal">Parent's Log-In</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="parentEmail" placeholder="Enter your email">
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="parentPassword" placeholder="Password">
    </div>

    <button class="w-75 btn mt-2 mb-2 btn-med btn-primary" id="parentLogin" type="submit">Sign in</button>
  </form>
</main>

{{!-- this is the Teachers's log-in container --}}
<main class="container border form-signin w-25 mt-4 border-danger rounded">
  <form>
    <h1 class="h3 mb-3 mt-3 fw-normal">Teacher's Log-In</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="teacherEmail" placeholder="Enter your email">
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="teacherPassword" placeholder="Password">
    </div>

    <button class="w-75 btn mt-2 mb-2 btn-med btn-primary" id="teacherLogin" type="submit">Sign in</button>
  </form>
</main>

<div class="h5 mb-3 mt-3">For questions or concerns, please contact the main office.</div>
  

<!-- Including Bootstrap JS (with its jQuery dependency) so that dynamic components work -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- javascript file-->
<script src="/public/js/login.js"></script>
<script src="/js/logout.js"></script>