<h2>STUDENT LIST</h2>

<h3>STUDENT</h3>
<div id="student"></div>

<script type="text/x-handlebars-template" id="tableTemplate">
<table>
<thead>
  <tr>
    {{#each array.[0]}}
      <th>{{@key}}</th>
    {{/each}}
  </tr>
</thead>
<tbody>
  {{#each array}}
    <tr>
      {{#each this}}
        <td>{{this}}</td>
      {{/each}}
    </tr>
  {{/each}}
</tbody>
</table>
</script>

<script src="/js/table.js"></script>
