<header>
  <div class="p-2 text-center bg-primary opacity-100" style="margin-top: 0px;">
    <img class="mb-4 align-items-center" src="/images/logo.png" alt="" width="150" height="150">
    <h1 class="mb-3">Teacher's Pet</h1>
  </div>
</header>

<aside>
  {{!-- this is where the messageboard will go --}}
</aside>

<main>
  {{!-- this is where the student data table will go --}}
  <h2>Handlebars template to populate a table</h2>
  <h3>Students</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Allergies</th>
        <th>Medication</th>
        <th>Diet</th>
        <th>DOB</th>
        <th>School ID</th>
        <th>NOTES</th>
        <th>Teacher ID</th>
      </tr>

    </thead>
    {{#each studentCharts as |studentChart|}}
    {{>chart}}
    {{/each}}

  </table>