<header>
  <div class="p-2 text-center bg-primary opacity-100" style="margin-top: 0px;">
    <img class="mb-4 align-items-center" src="/images/logo.png" alt="" width="150" height="150">
    <h1 class="mb-3">Teacher's Pet</h1>
  </div>
</header>

<aside>
  {{!-- this is where the messageboard will go --}}
</aside>

<main>
  {{!-- this is where the student data table will go --}}
  <h2>Students</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Allergies</th>
        <th>Medication</th>
        <th>Diet</th>
        <th>DOB</th>
        <th>School ID</th>
        <th>NOTES</th>
        <th>Teacher ID</th>
      </tr>

    </thead>
    {{#each studentCharts as |studentChart|}}
    {{>chart}}
    {{/each}}

  </table>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>